/*body{
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%; 
    background-image:url(fig1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/
.container{
    width:100%;
    height: 100%;
    margin-top: 0;
   
    background-size: cover;
    background-position:center;
    position: relative;
}
.form-box{
    width:90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    background: transparent;
    padding: 50px 60px 70px;
    text-align: centre;
}
.form-box h1{
    font-size: 30px;
    margin: 60px;
    color: #3c00a0;
    position: relative;
}
.input-field{
    background: transparent;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
    backdrop-filter: blur(15px);

}
input{
    width: 70%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;

}
.input-field i{
    margin-left: 15px;
    color: #999;
}
.input-group{
    height: 400px;
}
form p{
    text-align: left;
    font-size: 13px;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{ 
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 1;
    cursor: pointer;
    transition: background 1s;



}
.btn-field button.disable{
    background: #eaeaea;
    color: #555;
}
.curtain{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}
.curtain::after{
    content: '';
    position: absolute;
    left: 0;
    width: 50%;
    background: gray;
    height: 100%;
    transition: 1s;
   
}
.curtain:hover::after{
    transform: translateX(-100px);
}

.curtain::before{
    content: '';
    position: absolute;
    right: 0;
    width: 50%;
    background: gray;
    height: 100%;
}